node_modules/
public/*
!public/.gitkeep

# Build & output folders
dist/
build/
coverage/

# Local JSON / data dumps
*.json
!package.json            # keep package.json
!tsconfig.json           # keep tsconfig
!*.schema.json           # keep small schema files if needed
public/ui_demo.json      # large test data file



# Environment & secrets
.env
.env.local

# OS / editor files
.DS_Store
*.log
.idea/
.vscode/