/* Basic CSS reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ant-font-family: 'Space Grotesk', sans-serif;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  color: #222;
}

.ant-typography,
.ant-btn,
.ant-menu,
.ant-input,
.ant-select,
.ant-card,
.ant-table,
.ant-alert,
.ant-tag,
.ant-statistic,
.ant-descriptions,
.ant-progress,
.ant-switch,
.ant-menu * ,
.ant-btn *,
.ant-typography *,
.ant-table *,
.ant-select *,
.ant-input * {
  font-family: 'Space Grotesk', sans-serif !important;
}

.virtual-table__header .ant-table-body,
.virtual-table__header .ant-table-placeholder,
.virtual-table__header .ant-table-content::-webkit-scrollbar {
  display: none !important;
}

.virtual-table__header .ant-table-container {
  border-bottom: none !important;
}

.virtual-table__body .ant-table {
  margin: 0;
  border: none;
}

.virtual-table__body .ant-table-container {
  border: none;
}

.virtual-table__body .ant-table-content {
  overflow: hidden !important;
}

.virtual-table__body .ant-table-placeholder {
  display: none !important;
}

.virtual-table__header .ant-table-thead > tr > th,
.virtual-table__body .ant-table-tbody > tr > td {
  padding: 12px 16px;
}
.virtual-table__header .ant-table-thead > tr > th:first-child,
.virtual-table__body .ant-table-tbody > tr > td:first-child {
  padding-left: 12px;
}
